:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #f5f4fa;

  --dark-background-color: #2f303a;
  --grey-background-color: #f5f4fa;
}

/* Наши шрифты
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

/* Навигация */
nav {
  color: var(--title-text-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
}

.nav-logo .logo {
  color: var(--accent-color);
}

.nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.02em;
  list-style: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.nav-tel {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
}

.nav-tel:hover,
.nav-tel:focus {
  color: var(--accent-color);
}

/* Эффективные решения */
.hero {
  background-color: var(--dark-background-color);
  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  cursor: pointer;
}

/* Преимущества */
.plus-subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.plus-text {
  font-size: 14px;
  line-height: 1.7;
}
/* Чем мы занимаемся */
.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Секция Наша команда */
.people {
  background-color: var(--grey-background-color);
  text-align: center;
}

.people-item {
  background-color: var(--primary-white-color);
}

.people-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.people-subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.people-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
/* Footer */
.footer {
  background-color: var(--dark-background-color);
}

.footer-logo {
  color: var(--primary-white-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-logo .logo {
  color: var(--accent-color);
}

.adr-map {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.adr-map:hover,
.adr-map:focus {
  color: var(--accent-color);
  cursor: pointer;
}

/* 2 страница Портфолио*/

.port-nav-link {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: inherit;
}

.port-nav-link:hover,
.port-nav-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.port-page-subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.port-page-text {
  font-size: 16px;
  line-height: 1.9;
}
