:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #f5f4fa;

  --primary-icon-color: #afb1b8;

  --dark-background-color: #2f303a;
  --grey-background-color: #f5f4fa;
  --accent-background-color: rgba(33, 150, 243, 0.9);
  --text-background-color: rgba(47, 48, 58, 0.8);
  --modal-background-color: rgba(0, 0, 0, 0.2);

  --primary-shadow: rgba(47, 48, 58, 0.4);

  --border-color: #eeeeee;
}

/* Наши шрифты
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */